[2015-12-20 06:00] akira opened #1 "Expand tests for router.ex"
Expand tests for router.ex (https://github.com/akira/exq/blob/master/web/router.ex).

Add cases for each type of endpoint along with data expected.

[2015-12-23 04:39] akira opened #2 "UI - allow requeue dead jobs"
As an end user, I want to re-enqueue dead jobs in the UI
## Acceptance Criteria
- Add "Requeue" button in dead job UI view for each job
- Clicking on "Requeue" button, requeues dead jobs

[2015-12-23 04:45] akira opened #3 "UI - Scheduled queue delete item button"
As an end user, I want to delete scheduled job in the UI
## Acceptance Criteria
- Add "Delete" button in scheduled jobs UI view for each job
- Clicking on "Delete" button, removes job from scheduled queue

[2015-12-23 04:48] akira opened #4 "UI - Scheduled - button to move item to queue"
As an end user, I want to enqueue scheduled jobs from the UI
## Acceptance Criteria
- Add "Enqueue" button in scheduled jobs UI view
- Clicking on "Enqueue" button, queues scheduled job

[2015-12-23 04:54] akira opened #5 "UI - allow requeue job immediately from "Retry Queue""
As an end user, I want to re-enqueue jobs in the "Retry" queue in the UI
## Acceptance Criteria
- Add "Requeue" button in retry queue UI view for each job
- Clicking on "Requeue" button, requeues retry jobs right away

[2015-12-23 04:55] akira opened #6 "UI - allow delete job from "Retry" queue"
As an end user, I want to delete jobs from the "Retry" queue via the UI
## Acceptance Criteria
- Add "Delete" button in retry jobs UI view
- Clicking on "Delete" button, deletes jobs

[2015-12-23 05:39] akira opened #7 "UI - Fix dynamic chart"
Seems like chart has broken at some point, figure out what's not working

[2015-12-29 19:42] akira opened #9 "Stats should poll to update"
Right now the chart updates but we should also be updating the stats at the top of the page with the latest stats.

Moved from https://github.com/akira/exq/issues/49

[2016-01-05 16:42] darksheik opened #10 "Correction to README for Plug"
The following two lines:
[code]

Should read (missing "Ui"):

[code]

[2016-01-05 17:18] akira commented on #10
Thanks, will update!

[2016-01-05 17:19] #10 closed

[2016-01-13 17:13] akira opened #11 "Easier flow for running within a Phoenix project"

[2016-01-24 02:31] akira opened #12 "WebUI Authentication"
We should provide a first class way to auth. For now i think basic auth is fine, but rather than rely on nginx or an upstream plug we should bake it in.

Moved over from https://github.com/akira/exq/issues/46

[2016-01-24 02:31] akira opened #13 "Use Rickshaw graphs"
Moved from
https://github.com/akira/exq/issues/51

[2016-01-27 19:31] andrewvy commented on #9
Taking a stab at this. I'm refactoring "stats" into an Ember service, which can be updated from any source, and injected into the `exq-stats` component.

Then, [index route](https://github.com/akira/exq_ui/blob/master/priv/ember/app/routes/index.coffee) can just automatically update the service and increment the stat values.

[2016-01-28 18:22] akira commented on #9
:+1:

[2016-02-26 11:02] darksheik opened #15 "ExqUi and Exrm"
Hi there!

I had previously been lazy and was running my Phoenix app in production using mix to launch directly on the console:
[code]

Exq and ExqUi both work great with this method.  I am trying to package an [Exrm](http://www.phoenixframework.org/docs/advanced-deployment) release, though, and it compiles fine but then dies when I try to load a page:

[code]

I have no idea why the behavior woul

[2016-02-29 06:48] akira commented on #15
Yes, I think it would need to get added to the application list as you mentioned. What is the error displayed in that case? If you can give some info on how you're running it through Exrm and error message (let me know if you have a sample repo).

[2016-02-29 12:57] darksheik commented on #15
My sample repo is private, but I can share the basic config:

Configured in prod.exs:

[code]

In mix.exs:
Not added to def application at all.  When I do, it tries to start Exq twice.

deps:
[code]

In lib/my_app.ex:

[code]

In both development and production, when I start Phoenix server manually via the command line,

[2016-03-01 06:47] akira commented on #15
That recommendation was actually changed in the documentation for Exq - it is no longer recommended to put Exq in the phoenix supervisor hierarchy. What happens if you take that out, and add :exq and :exq_ui to the application list?

[2016-03-01 20:08] darksheik commented on #15
Adding just :exq seems to start both ok in Dev.  Adding :exq_ui also tries to start that twice and dies.
I will try repackaging in production after hours and let you know how that goes.  Thanks!

[2016-03-02 12:39] darksheik commented on #15
I don't think there's there's an issue actually starting :exq_ui, it just doesn't seem to recognize ExqUi.RouterPlug in my application's router file.

When I comment out these lines in web/router.ex, everything works fine:

[code]

Exq is definitely processing things, but I just don't have an interface anymore. :)

[2016-03-04 06:05] akira commented on #15
OK that makes sense. I will take a look at this weekend - been busy so haven't gotten a chance yet.

[2016-03-08 05:38] akira commented on #15
@darksheik Let me know if this fixes it, seemed to work for me locally.

[2016-03-11 19:22] edmz opened #17 "UI shows no data except for stats"
I am using exq_ui along phoenix. The workers are doing their thing and if I go to exq_ui i see the stats getting updated (16 processed, 13 failed, etc).

The names of the queues are also listed.

But  I can't see any, for example, the failures. The failures table is empty even though the stats say that '13 failed'.

Any ideas on what to check?

Thanks in advance.

[2016-03-14 06:35] akira commented on #15
bump

[2016-03-16 04:26] akira commented on #17
@edmz Do you see the failures in the "retries" queue?  Note that they go in the retry queue first, the failure table is only when max retries have been reached. If they're not showing up anywhere, then I'd need to take a look.

[2016-03-18 06:27] akira commented on #15
Closing, let me know if this is still an issue and will reopen @darksheik

[2016-03-18 06:27] #15 closed

[2016-03-18 12:48] darksheik commented on #15
Apologies, I've been significantly reengineering my app with crazy distributed nodes.  I'll retest as soon as I can.

Thanks for the followup.

[2016-03-30 18:40] AaronBetterOfficeApps opened #20 "Cancelling Jobs in the retry list"
It would be nice to be able to clear jobs out of the retry list manually after they have passed there fail limit. The problem that I'm am running into is if a worker failed and won't actually be able to be retried successfully, it will always be in the retry list and on restart of my elixir application when exq boots up it is runs again only to fail. There is most likely a better way to solve this

[2016-04-01 21:43] pdilyard opened #21 "Prevent server from starting in testing environment"
Is there a way to prevent the `exq_ui` server from being started when running `mix test`? Phoenix for example provides the `server: false` option in your Endpoint config.

[2016-04-02 17:48] akira commented on #21
@pdilyard Work using `mix test --no-start` work for your use case?

[2016-04-02 18:35] pdilyard commented on #21
Unfortunately most of my tests will fail with `--no-start`.

[2016-04-03 01:26] akira commented on #21
Gotcha, adding a similar `server` config option could work and would be super easy, feel free to PR this or otherwise I have some other things I'm working on but could get to it after those.

[2016-04-06 03:53] #21 closed

[2016-04-06 03:55] akira commented on #20
:+1: yeah, this is needed. Was planning on putting this in, but was adding the API for Exq first.

[2016-04-10 00:48] akira commented on #17
@edmz I've updated Exq and ExqUI, I think the retries / scheduled queue should work. I think there was an issue with Timex that may have been causing it, let me know if it works with latest version (0.7.0).

[2016-04-10 00:48] akira commented on #20
The API has been merged, so this should be fairly easy to add next.

[2016-04-10 19:57] akira commented on #20
Fixed by #24

[2016-04-10 19:57] #20 closed

[2016-04-18 14:11] migore commented on #17
I'm using version 0.7.0 and the issue still persist for Failed, just show the number but the list doesn't show any entry.

[2016-05-09 13:43] henry-hz opened #25 "error when clicking in "schedule" button"
Interactive Elixir (1.3.0-dev) - press Ctrl+C to exit (type h() ENTER for help)
iex(1)>  time = Timex.Date.from({{2017, 9, 5}, {15, 54, 0}}) |> Timex.Date.to_timestamp
{1504, 569600, 0}
iex(2)> {:ok, ack} = Exq.enqueue_at(Exq, "bots", time, Sentinel.Execution, ["arg1", "arg2"])
{:ok, "c2e61709-04b5-4983-bea1-7c64a5cd2589"}
iex(3)>
15:57:48.763 [error] Ranch listener ExqUi.RouterPlug.HTTP had conne

[2016-06-12 17:38] katgironpe opened #26 "Does not work with the new version of Phoenix"
I am using the new version of Phoenix:

[code]
With exq_ui, I get this error:

**Router.Helpers is not loaded and could not be found**

[2016-06-16 07:43] akira commented on #26
Thanks for reporting.  I've got a lot going on at the moment, so not sure the soonest I'd have time to look at it, but would gladly accept PRs.

[2016-06-25 01:20] taylorbrooks commented on #26
Actually mine failure is a little different:

`** (UndefinedFunctionError) function DripEmails.ExqUi.RouterPlug.Router.init/1 is undefined (module DripEmails.ExqUi.RouterPlug.Router is not available)`

Here's my router:

[code]

It looks like it's prepending my app name to the Exq router plug and it can't find that module.

[2016-06-25 07:52] DavidACL commented on #26
I'm getting the same error as @taylorbrooks

[2016-06-25 20:25] #26 closed

[2016-06-25 20:26] akira commented on #26
Updated router.ex config for this, see #27

[2016-07-16 19:33] katgironpe commented on #26
This fixed it. Thank you!

[2016-08-18 17:25] pdilyard commented on #25
I also get an error when trying to view the "scheduled" page, here's my traceback:

[code]

[2016-09-16 23:45] jasondew opened #29 "Error when using exq_ui with exrm"
First of all, thanks for your work on `exq` and `exq_ui`, it's really great so far! I do have one hangup, though. I'm using exrm for deployment, since that was recommended, and I have `exq` and `exq_ui` in my `applications` function, also as recommended. However, when I try to start the server, I get:

[code]

I've tried all permutations of including/disincluding `exq` and `exq_ui` as well as diff

[2016-09-18 01:39] jasondew commented on #29
I switched over to use https://github.com/bitwalker/distillery and everything works now. Closing!

[2016-09-18 01:39] #29 closed

[2016-10-13 10:40] dovadi opened #30 "Web admin doesn't work anymore since the generated static distribution of the UI is no longer a part of the repo (they are now ignored by git)"
Exq_ui doesn't contain the assets anymore since 7a02ab534da99, so the web admin has no longer the needed static assets (js and css) to render properly.

Also building the JS distribution manually myself fails, since ember-validations is no longer found on the given url "http://builds.dockyard.com.s3.amazonaws.com/ember-validations/ember-validations-latest.js"

[2016-10-16 23:37] akira commented on #30
@dovadi sorry about that, I published another version to hex with assets that has the assets.

[2016-10-16 23:37] #30 closed

[2016-10-17 08:35] dovadi commented on #30
No worries, I understand ...

However looking at the commits, I still don't see the assets added in current master branch https://github.com/akira/exq_ui/tree/master/priv/ember/dist (although you bumped to 0.8.1). Am I missing something?

[2016-10-17 15:58] akira commented on #30
@dovadi mix version 0.8.1 has the assets in the hex package. While I took out the generated assets from version control, I still upload them into hex.

[2016-10-20 02:44] justgage commented on #7
I think I'm going to look into this for hacktoberfest

[2016-10-31 02:19] akira opened #32 "Conversion of UI library to React.js"
Currently this is written in Ember, but it does need continual updating and maintenance given that the dependent libraries are being deprecated / updated.

As a maintainer, I don't have much Ember experience and am personally more familiar with libraries such as React.js.

I am considering rewrite of the UI to React.js / Redux / React Router.

Alternatives considered:
* Vue.js / Vuex / Vue Router

[2016-11-06 20:52] chelsea commented on #25
I was having the same issue but updating to exq 0.8.1 and exq_ui 0.8.2 seems to have sorted it out for me, might be worth trying.

[2016-12-12 22:26] isaksky commented on #15
I have the same issue (running post #16).

[code]

I didn't include `exq_ui` in the applications list, because then I get an "x has already started" error when starting the app.

[2016-12-12 22:56] isaksky commented on #29
@jasondew What settings did you use to make it work with distillery? Having the same issue.

[2016-12-13 00:49] jasondew commented on #29
Sorry @isaksky, I don't remember anything in particular that I did to make this work other than switching and including both `exq` and `exq_ui` in my `applications` list. I also have

[code]

in my `config/prod.exs`. Hopefully this helps somehow!

[2016-12-13 10:48] davidefedrigo commented on #29
Same issue here.

I "fixed" switching back to distillery `~> 0.9.0` from `~> 0.9`.

I kept:
[code]

[2016-12-13 17:22] isaksky commented on #29
@jasondew makes sense, thanks. Did not work for me, unfortunately.

@davidefedrigo interesting. I tried to do the same, but looks like I need some of the newer settings.

I'll try to mess with the exq_ui code.

[2016-12-13 18:02] isaksky commented on #29
I was able to get it to start with this commit:

https://github.com/isaksky/exq_ui/commit/a80595d3800855ace9a390d5c8c62b626111497f

[2016-12-14 15:13] akira commented on #29
@isaksky Thanks for reporting, I will take a look.  I think I know what's causing the issue.

[2016-12-20 00:28] mbuhot commented on #25
Also seeing this error on exq 0.8.1 and exq_ui 0.8.2 when clicking the `failed` link:

`http://myapp/exq/api/failures`

[code]

[2016-12-20 08:18] vrosancic commented on #17
Hi, is there any update here? I am also seeing just seeing the number of failed jobs. It would be useful to see failure messages. See screenshot.
![screen shot 2016-12-20 at 09 16 42](https://cloud.githubusercontent.com/assets/8770941/21343041/3378a56a-c695-11e6-9b1c-57a5d12b8222.png)

[2016-12-24 21:34] akira commented on #17
After looking at this, I'm suspecting that there's a misunderstanding here, caused by the way the UI displays the "Failed Counter" counter and "Failed list". The "Failed counter" increments every time something fails, even if it goes back to the "Retry" queue. The "Failed list" only displays items that have exhausted their retries. So while the "Failed counter" can be 4, the "Failed List" could be

[2016-12-25 00:10] akira commented on #25
@mbuhot I'm not able to replicate this, can you post what's in your Redis queue for "exq:schedule" (value and score)?

You can use something like https://redisdesktop.com/ for easier inspection.

[2016-12-25 01:44] akira commented on #17
See #33 (in master), separate Fail into a separate list.

[2016-12-26 01:57] akira commented on #29
@isaksky it should be fixed now, let me know if it doesn't work

[2016-12-26 02:12] akira commented on #29
Published 0.8.3 with this fix

[2016-12-26 02:12] akira commented on #17
Published 0.8.3 with this fix

[2016-12-26 02:12] #17 closed

[2016-12-26 02:14] #5 closed

[2016-12-26 02:15] #6 closed

[2016-12-28 15:00] seivan commented on #32
I would prefer React mostly because it would be easier to isolate and keep dependency and build requirements to a minimum. No need for CSS files or HTML templates. Keep styles and  html (JSX) inline.

[2016-12-28 15:18] mspanc opened #35 "Allow to see full backtrace in failures"
At the moment UI truncates backtrace in failures and they are useless.

![zrzut ekranu z 2016-12-28 16-16-31](https://cloud.githubusercontent.com/assets/389651/21524789/2a45b354-cd19-11e6-8adb-d2ed15de4bd9.png)

Seems that whole backtrace gets transmitted over the API, so it is purely UI thing.

I suggest adding a link will allow to unwrap the whole backtrace if they are truncated.

[2016-12-28 15:26] mspanc opened #36 "Add method to restart all failed jobs"
At the moment the only option available in Failures view is to clear failed jobs queue.

It would have been useful to be able to restart them (individually or all of them).

[2016-12-29 00:06] isaksky commented on #29
@akira I tried this commit out, and it fixed this issue, thanks!

I had some other issues regarding asset paths, seemingly with the new changes, but it may be unrelated, or on my end. I'll let you know if I find out more.

[2017-01-01 23:17] Rastopyr commented on #32
React.js and similar frameworks is more complicated than Ember. For best experience i I would suggest migrate to latest version of Ember

[2017-01-02 07:56] vrosancic commented on #17
Hi @akira, thanks for this improvement. I think it is better, but still not totally clear:

1. In my opinion, there is no need for 'Failed Counter'. It only confuses me because some of those jobs failed totally (and they are dead now), and some of them succeeded after retries. If you need to see how many jobs failed in retrying, you can go in 'Retry list' and check how many retries there are. And

[2017-01-02 08:00] vrosancic commented on #17
@akira, if you agree with above suggestions, I can try to implement them and create pull request.

[2017-01-02 18:22] akira commented on #17
@vrosancic thanks for the suggestions.

1. I would prefer to keep this counter, as it still shows how many failures occurred and it's also consistent with Sidekiq

2. Good suggestion, agreed.

3. Perhaps we can have a modal popup that displays all the details, along with the full error?

[2017-02-18 03:09] akira opened #40 "Clear worker list - needs to reload on clear"
Clicking on "clear worker list" does not seem to reload after clearing.

[2017-02-18 04:15] pytong commented on #40
Right, refreshing doesn't clear the stale stats.

[2017-03-14 13:07] vrosancic opened #42 "Erlang gen_server error when trying to access ExqUI"
Hi! I have an issue with `exq_ui` package. When I try to access the dashboard, I am getting the `erlang gen_server error: :noproc`. I am running the page through Plug. When I run it on a separate port with `mix exq.ui`, everything works ok.

What is strange is that everything worked ok until a few days ago when it stopped. I have no idea how to solve this.

Here is the whole stack trace:
[code]

[2017-03-15 21:43] theRealWardo commented on #25
@akira I am able to reproduce this running exq 0.8.3 and exq_ui 0.8.4

[code]

taking a look now to see what I can do to help fix this problem.

[2017-03-15 22:15] theRealWardo commented on #25
PR open. basically, the code assumed the score was always a float. if the score is a string, it will now check to see the score looks like a float and if it does then it will handle as it did in the past. otherwise, it handles the integer case as a second based timestamp. that fixes at least my and @pdilyard's case. I didn't get it patched up to fix @mbuhot's case where it seems there's a full ISO

[2017-03-17 05:08] akira commented on #42
Does this still happen consistently, or only once in a while? What version of exq / exq_ui are you running?

[2017-03-17 05:35] akira commented on #25
Still issue with date format.

[2017-03-17 08:44] vrosancic commented on #42
Hi @akira! Yes, it happens consistently. Both exq and exq_ui versions are 0.8.4. I've updated them recently. Previously exq was 0.8.1 and exq_ui 0.8.3.

[2017-03-17 13:41] vrosancic commented on #42
Hey @akira, I've just fixed this. I've added `:exq_ui` to the list of applications in `mix.exs` file. Only thing that is strange now is that it starts `ExqUi` on the port 4040 as well. So you can access it through the plug or on the separate port, just like you would with `mix exq.ui`

[2017-03-20 02:13] akira commented on #42
Ah ok, great.  You can turn off the server via config:

[code]

[2017-03-20 02:13] #42 closed

[2017-03-20 09:37] vrosancic commented on #42
Thanks!

[2017-03-22 17:31] daniel1943 opened #44 "Possible to silence logger?"
I don't want to change global logger level, possible to silence just exq_ui logger?

`[info] GET /exq/api/realtimes
[info] Sent 200 in 587µs
[info] GET /exq/api/realtimes
[info] Sent 200 in 599µs
[info] GET /exq/api/realtimes
[info] Sent 200 in 540µs
`
This is flooding console every second.

[2017-03-31 14:35] isaacsanders commented on #13
What's a Rickshaw graph? Is there a visual example?

[2017-03-31 14:57] isaacsanders commented on #12
As a potential user, I would prefer a configuration option for an `auth_plug` (or something similar) that can be inserted into the flow, so if one wishes to deploy/configure `exq_ui` as a standalone application, they can manage authentication (and maybe also their own authorization) from there.

Maybe a module/struct for user information so that the auth system can be integrated to embed the infor

[2017-04-01 03:53] akira commented on #44
That looks like it is coming from Phoenix and not Exq

[2017-04-01 03:55] akira commented on #13
Rickshaw is just another library for graphing:  http://code.shutterstock.com/rickshaw/

I would say this feature is definitely a lower priority "nice to have" though.

[2017-04-01 04:05] akira commented on #12
@isaacsanders an `auth_plug` could definitely work here

[2017-04-01 05:47] #11 closed

[2017-04-01 05:48] akira commented on #7
Fixed by #39

[2017-04-01 05:48] #7 closed

[2017-04-03 05:14] akira commented on #32
Not as crucial with #45 helping update to latest Ember version.

[2017-04-03 05:17] akira opened #46 "Y axis for dashboard graph should display units for jobs"
Currently, units on the left Y axis are being displayed on a scale from 0 to 1.  This should actually indicate the count of jobs instead.

<img width="1213" alt="screen shot 2017-04-02 at 10 15 18 pm" src="https://cloud.githubusercontent.com/assets/43946/24596164/05613a62-17f2-11e7-88df-f27abd89abf2.png">

[2017-04-03 06:42] akira commented on #46
FYI, use #45 as base if not yet merged

[2017-04-06 20:07] allanbatista opened #48 "It's possible to quite queue like sidekiq?"
Hi,
It's possible to quite queue like sidekiq?

[2017-04-10 22:59] brandonparsons opened #49 "404 on Assets"
Hi there,

I had ExqUI working before, but now I'm getting 404's when it tries to load the assets (`/assets/vendor.css`, `/assets/exqui.css`, `/assets/vendor.js`, `/assets/exqui.js`). The HTML page is being served correctly (I can go to `/exq` in my app), it's just failing to load the assets.

Any idea what might be causing this?

I have HTTP basic auth set up on accessing `/exq`, but this was wor

[2017-04-11 05:15] mbuhot commented on #25
We ended up clearing our failed jobs lists to resolve the issue.

[2017-04-12 02:32] akira commented on #49
@j-mcnally I noticed we've added [rootUrl](https://github.com/akira/exq_ui/commit/adca0c9ea60d6df749600bf0d563a4fd99d2d9ba#diff-aed02745042475be3ff6145b3a8331fcR19) when upgrading Ember. Should that be populated to reflect root context (as it could be served from something like `/exq/`  or the root context `/`).

[2017-04-12 12:32] brandonparsons commented on #49
For what it's worth - it seemed like no matter what config options I set, it was always requesting assets from `/assets/<file>.<ext>`.

It does seem to make sense that if I've got `exq_ui` set up to serve from `/exq`, those asset requests should go through the same path - `/exq/assets/<file>.<ext>`.

[2017-04-12 16:29] akira commented on #49
@j-mcnally I removed rootUrl from the html to unblock this issue, let me know if there is a better approach.

@brandonparsons I published 0.8.6, which works now.  Let me know if this issue is fixed.

[2017-04-12 16:35] #48 closed

[2017-04-12 18:01] brandonparsons commented on #49
I upgraded to 0.8.6, and this issue appears to be fixed. Thanks for the quick turnaround!

[2017-04-12 18:01] #49 closed

[2017-04-26 01:01] gchronis commented on #35
Puull request added: #51

[2017-05-22 19:42] mlaythe opened #52 "Way to view on Heroku?"
Is there a way to view this dashboard in a deployed Heroku instance? Thanks! =)

[2017-06-08 13:43] azranel opened #54 "ExqUi doesn't work in chrome - mime type"
https://monosnap.com/file/KJAiY6SQGorG2TpV0VWJEPFKlWNGkT - says all I think

Will try to fix it later 😄

[2017-08-18 14:21] andreogle commented on #52
Did you manage to figure this out?

[2017-09-09 15:12] punitcse commented on #52
@mlaythe @andreogle @akira  How can I view it on heroku can some one please help me regarding the same??

[2017-11-26 10:02] jozefvaclavik commented on #12
Just for others reference, I'm using [Coherence](https://github.com/smpallen99/coherence) and all I had to do was add protected plug o `:exq` pipeline.

[code]

[2018-02-01 16:04] nicholasjhenry commented on #54
@azranel what this happening in `dev`? I had the same issue, but it was because my namespace was misconfigured and I was receiving an HTML page instead of the JS. Once I corrected my namespace this worked fine in Chrome.

[2018-02-21 20:34] iwarshak opened #56 "Should exq_ui should start exq?"
I have run into a strange race condition that is hard to duplicate, but I believe has to do with exq_ui starting exq.

I am running exq with `start_on_application: false` and starting it in my application just like the docs say. `supervisor(Exq, [])`. I am doing this so it is starting after my ecto repo.

What I have seen happen is: a job is enqueued immediately after my server comes online. The j

[2018-03-09 23:43] coderberry commented on #52
+1

[2018-03-19 21:49] soundmonster commented on #56
I am trying to make Exq and ExqUI work in a release, and I'm having a similar issue. In a release, we try to hangle all configs at runtime with Confex, so we also use `start_on_application: false` and inject `supervisor(Exq, [])` on app start. Now, ExqUI fails because it tries to start Exq by itself, and of course it cannot coerce `{:system, :integer, "REDIS_PORT", 6379}` to integer. Probably the

[2018-03-25 02:21] ibash commented on #52
You can use the plug method to put the UI at a certain path: https://github.com/akira/exq_ui#using-with-plug
You'll probably want to put some sort of authentication around it, though.

[2018-03-25 02:21] ibash commented on #52
You can use the plug method to put the UI at a certain path: https://github.com/akira/exq_ui#using-with-plug
You'll probably want to put some sort of authentication around it, though.

[2018-04-27 18:10] alexcastano opened #58 "Avoid [Object object] in args column"
Hi,

Is there any way to avoid [Object object] in the args column? Actually, this object is just a simple map:

[code]
But I cannot see the id because the UI give this:

![image](https://user-images.githubusercontent.com/1745859/39377785-a545568e-4a56-11e8-86fc-83183b778062.png)

Any hack to fix it?

Thank you for your time

[2018-05-07 06:26] janna-delacruz opened #59 "Exq_ui port not opening in server"
Hi, I'm having difficulty in accessing exq_ui once it's deployed, although it's working properly using my local computer. I checked the logs to see if there are any error but didn't find any. Hope you could help me. I've been stuck here since Friday, May 4, 2018.

Server Log

^M
Starting ExqUI on Port 4009^M
06:21:22.007 [info] Running WorkerWeb.Endpoint with Cowboy using http://:::4008^M

`netsta

[2018-07-24 11:41] janna-delacruz commented on #59
I've already resolved this issue, turns out that port needs to be an integer.

[2018-07-24 11:41] #59 closed

[2018-09-10 19:42] quolpr commented on #58
+ the same problem

[2018-09-27 03:57] alkx commented on #54
@nicholasjhenry do you remember what was misconfigured with your namespace? I'm seeing the same issue.

[2018-09-27 13:28] nicholasjhenry commented on #54
Yeah, I wish I was a little more explicit about that. I would verify the following:

- `plug ExqUi.RouterPlug, namespace: "exq"` in your router
- `config :exq_ui,
  web_port: 4040,
  web_namespace: "",
  server: true`

It's possible I had `web_namespace: "exq"` by mistake.

[2018-11-15 16:19] jakub-zawislak opened #62 "Can't see enqueued tasks"
When I click "Enqueued" or "Queues" I got this error:

There is no error, if there is no enqueued tasks.

[2018-11-16 09:35] jakub-zawislak commented on #62
I think it happens when the `queue` key of some task is `nil`.

[2018-12-08 16:03] atonse opened #64 "Interested in an upgrade to the latest Ember version?"
We use (and love) exq for our Elixir/Ember application. I've noticed that you're having trouble maintaining the Ember version upgrades, etc. Would you like a PR to upgrade it further to the latest ember LTS version? (`3.4`)? Just want to make sure someone isn't already working on this.

[2018-12-10 17:53] akira commented on #64
Hi,

Yes I am in general need of any help maintaining the app as I have a lot
going on. It will be great to have a PR for this!  Thanks!!

On Sat, Dec 8, 2018 at 8:03 AM Ashish Tonse <notifications@github.com>
wrote:

[2018-12-10 17:58] atonse commented on #64
Good to know. Thank you for this useful tool. We'll add it to our development queue. Can't promise a date yet though.

[2018-12-26 11:21] jozefvaclavik opened #65 "Cowboy 2.x support"
Following https://gist.github.com/chrismccord/bb1f8b136f5a9e4abc0bfc07b832257e

While updating phoenix to 1.4 I'm switching `cowboy` to `plug_cowboy` but that requires `cowboy` `~>2.5`

[code]

[2018-12-27 04:30] akira commented on #65
I haven't had a chance to release this new version. Does this work against master version of exq_ui?

I will release it shortly.

[2019-01-19 17:11] jozefvaclavik commented on #65
@akira `master` is working for me too.

[2019-01-21 10:26] jozefvaclavik opened #68 "Phoenix 1.4 static files"
I upgraded to Phoenix 1.4 with webpack. And it's not fetching css and js exq assets. So the ember app is not loading.

<img width="1604" alt="screenshot 2019-01-21 at 14 11 37" src="https://user-images.githubusercontent.com/482174/51467890-0e58c580-1d87-11e9-8f11-676beb9a2c2b.png">

Doing `curl http://localhost:4000/exq/assets/vendor.js` from terminal returns this

[code]

Seems like something cha

[2019-01-21 15:42] tonyc commented on #68
FWIW, I just ran into this too, although I'm not running Phoenix.

I'd agree that something with the asset serving is funky. I'm running off of master.

[2019-01-21 22:58] #68 closed, assigned to nobody

[2019-01-21 22:59] akira commented on #65
I've just released a new version

[2019-01-21 22:59] #65 closed

[2019-02-20 10:35] jaimeiniesta opened #70 "Disabling access via port when Plug access is enabled?"
I've followed the guides on https://github.com/akira/exq_ui#using-with-plug and I have exq_ui working with this configuration:

[code]

This works fine and I can access http://localhost:4000/admin/exq and I'm prompted for my credentials, all fine.

But... I've found that I can also access http://localhost:4040 and I won't be prompted for credentials.

Is there a way to disable access and only enab

[2019-02-20 10:36] jaimeiniesta commented on #52
Related: https://github.com/akira/exq_ui/issues/70

[2019-02-20 10:37] jaimeiniesta commented on #12
Related, here I'm using BasicAuth - but this leaves the access via port open

https://github.com/akira/exq_ui/issues/70

[2019-02-22 12:04] AllanKlaus opened #71 "Warming on Erlang release 21"
I'm using the docker image `elixir:1.8`  and i'm getting the following warming.

[code]

[2019-02-24 19:02] akira commented on #70
I believe you should be able to put the BasicAuth declaration outside the Admin block:

[code]
https://github.com/CultivateHQ/basic_auth

[2019-02-24 19:02] #70 closed

[2019-02-25 07:49] taylordowns2000 commented on #70
@akira , thanks for the swift response here. Would you explain this a bit more? (Or, @jaimeiniesta, if this worked for you, could you paste your changed code?)

I had thought that `router.ex` was only used for the phoenix app running on `:4000`, in Jamie's case. Does accessing exq at port `:4040` allow a request to even touch the router? I'm having the same issue—authentication is required when ac

[2019-02-25 07:55] jaimeiniesta commented on #70
Thanks @akira but like @taylordowns2000 I'm not having any problem in setting up BasicAuth on the access through the router. My code above, or the one that @taylordowns2000 puts here, both work fine.

But, when you access directly through the `:4040` port you're still able to see Exqui, without any authentication. How can this be disabled so the only way in is passing through the router?

[2019-02-25 09:44] jaimeiniesta opened #73 "Workers table broken"
When I click on Workers (`/exq/processes`) I often see this broken table:

![captura de pantalla 2019-02-25 10 24 09](https://user-images.githubusercontent.com/2629/53328399-283b7a00-38ea-11e9-806e-dfce1cd59b5d.png)

And sometimes it's not broken but it's missing data:

![captura de pantalla 2019-02-25 10 36 07](https://user-images.githubusercontent.com/2629/53328426-34bfd280-38ea-11e9-991c-ffd006

[2019-02-25 09:47] jaimeiniesta opened #74 "Dashboard graph is just gray"
Is it normal that the graph on Dashboard looks like this, using only one colour?

![captura de pantalla 2019-02-25 10 24 53](https://user-images.githubusercontent.com/2629/53328510-751f5080-38ea-11e9-902e-89a20bd26c2d.png)

I'm using the default view (I didn't follow the instructions to set up Ember).

[2019-02-25 16:24] taylordowns2000 commented on #70
Hey @jaimeiniesta , for me, this ended up not being a problem. I didn't realize this at first, but (of course!) my nginx config (and the firewall rules for connecting to my server) won't allow a direct connection to port `4040`—in other words, if I wanted to deploy this to staging or production and access it via the web, there's no way to get at `exq_ui` other than through the elixir app running a

[2019-02-26 08:52] jaimeiniesta commented on #70
Hey @taylordowns2000 same here, I'm having no problems in practice with this as the `4040` is not exposed, but I still think this can be a security problem if it goes unnoticed in some cases.

I expected that by removing the `web_port` option from the config, no port would be exposed, but it defaults to `4040` so there's no way to disable it, it seems.

In my opinion the best way to fix this is im

[2019-03-04 03:45] cblage commented on #56
Same exact issue as @soundmonster

[2019-03-05 21:06] yknx4 opened #75 "Clash with JSONAPI Library"
A module called JsonApi in the file `web/json_api.ex` is clashing with [JSONAPI](https://github.com/jeregrine/jsonapi) in case insensitive FS.

[code]

[2019-03-14 03:35] #75 closed

[2019-03-14 03:43] akira commented on #75
Thanks for the PR! 👍

[2019-08-01 20:42] marcelolebre opened #78 "Server false doesn't seem to prevent the app from starting"
When trying to start exq_ui with the following configs:

[code]

The app crashes when starting:

[code]

[2019-08-01 20:47] marcelolebre commented on #78
I believe this is related to: https://github.com/akira/exq_ui/issues/56

I'd be happy to pick it up and solve it myself.

[2019-10-29 06:30] Ninigi commented on #58
Since this still seems to be an open issue, I opened a PR #81

@alexcastano you asked for a hack - until my PR is merged (if ever) - I am a custom built UI. You can access all the information with - for example - `Exq.Api.retries(Exq.Api)`.

In a phoenix project, to display retries I did something like this

[code]
[code]

[2019-11-02 15:55] akira opened #82 "Lead maintainer or co-maintainers needed for this project"
If you are interested in becoming a maintainer, please reach out to @akira!  Thanks!

[2019-11-03 23:10] akira commented on #78
@marcelolebre sounds good that would be great if you have time.  Thanks!

[2019-11-03 23:12] akira opened #83 "Convert to use Exq.Serializers.JsonSerializer"
ExqUI is still using Poison. We should convert it to use custom serializer used by Exq.

See https://github.com/akira/exq/pull/362/

[2019-11-04 03:46] akira commented on #58
I've merged this fix and published new version to hex, let me know if any issues.

[2019-11-04 03:46] #58 closed

[2019-12-11 11:20] shijithkjayan opened #86 "What is size in queue? And why does it show a bigger number than the total scheduled queue?"
![2019-12-11 16 15 20 copy](https://user-images.githubusercontent.com/41006127/70617381-81388c80-1c36-11ea-847c-a6d28bdf8543.jpg)
This is not a big, but more of a doubt. There are several jobs scheduled under multiple queues, but the size has a value other than zero only for one of the queues. Also, the size is bigger than the total number of scheduled jobs. Can someone tell me why is that happeni

[2019-12-19 15:16] omar8792 commented on #71
hi @akira and thanks for the fix.
Can you please release a new version?

[2020-01-26 17:42] atonse commented on #64
Hi I did some work on this this past year and will continue to upgrade to even newer versions. We use ExqUI a lot and especially need it to be responsive.

Will keep you posted as we find time to work on this in small chunks.

[2020-06-12 20:38] atonse commented on #82
We use this tool a lot. But the UI could use a lot of improvements. I am also an ember developer but to be honest, with LiveView now, we really don't need any client side JS for this whole thing. Thoughts?

[2020-06-22 14:29] akira commented on #82
@atonse Yes, you raise a great point. I would be open to non client side JS, it would make it easier to maintain and update, especially if we can use LiveView for this process.

[2020-08-27 05:28] AdrianSchneider commented on #70
If you're using the plug and don't want the server listening automatically, setting this does the trick:

[code]

The UI will still be accessible in your app wherever it's mounted, and the server will _not_ be accessible at :4040 anymore. I ran into this when attempting to compile / run `mix` while my server was already running and it would throw an error trying to listen on that port.

[2020-10-21 15:25] hickscorp opened #95 "Bump dependencies"
It seems that `exq_ui` is using a fairly outdated version of `poison`. It would be really good if it could support more recent versions, because recent versions of dependencies like `poison` are used in many other packages, making it a hard choice to make to pick `exq_ui`.

[2020-11-02 18:35] danicuki opened #96 "Error when I start the web UI"
I got an error when starting the Web UI using this command:
`$ mix exq.ui`

[code]

[code]

This is the error:
[code]

[2021-07-22 08:35] astorre88 opened #97 "Raises Redix.Error even with `server: false` in case local redis setup contains authentication"
It seems like even with these silent configs:
[code]
exq_ui raises `%Redix.Error{message: "NOAUTH Authentication required."}` exception when I have authentication on a local redis setup. It happens due to this check https://github.com/akira/exq_ui/blob/master/lib/exq_ui.ex#L22 appears too late. It should be at least before this line https://github.com/akira/exq_ui/blob/master/lib/exq_ui.ex#L20 as

[2021-08-18 09:33] prkhrkat opened #98 "Busy Tab is not working"
All the tabs in UI are working fine but busy tab is not working. I have configured the router.ex as following -

[code]

I am getting the following error. Data is getting passed in JSON format but here it is expecting a elixir struct. Please let me know if there is any JSON Parser plug which i can use in router file.

[code]

[2021-09-06 20:00] akira commented on #98
Fixed with #89

[2021-09-06 20:00] #98 closed

[2021-12-06 16:07] ananthakumaran commented on #86
Queue size here means the number of jobs available to be picked up by workers. Scheduled jobs are not counted as they are not yet ready for pickup.

[2021-12-06 16:07] #86 closed

[2021-12-06 16:08] #44 closed

[2021-12-16 03:54] ananthakumaran commented on #73
closing this. feel free to re-open if this is still an issue on the latest version.

[2021-12-16 03:54] #73 closed

[2021-12-16 14:45] ananthakumaran commented on #56
The library has been updated to just depend on exq and shouldn't start any Exq supervisor. I am closing the issue, please re-open if the issue still happens.

[2021-12-16 14:47] ananthakumaran commented on #54
Closing this, please re-open if the issue still happens on the latest release.

[2021-12-16 14:50] ananthakumaran commented on #83
exq_ui doesn't depend on poison anymore

[2021-12-16 14:50] #83 closed

[2021-12-16 14:51] ananthakumaran commented on #9
This has been done on the latest release

[2021-12-16 14:51] #9 closed

[2022-01-11 14:58] jpea72 opened #108 "Dependency issue with phoenix live view"
I'm running Live View 0.17.5, and version 12 is locked on `exq_ui (version 0.12.0) requires ~> 0.16.0`

Can the dependency be bumped to allow for version PLV 17?

[2022-01-11 16:09] ananthakumaran commented on #108
There are some breaking changes related to the stateful component in 0.17. Need to make relevant changes before we can relax the requirement. I will try to check over the weekend

[2022-01-15 09:19] #108 closed

[2022-02-05 13:46] ananthakumaran commented on #74
The library has been rewritten and this shouldn't happen in the latest version.

[2022-02-05 13:46] #74 closed

[2022-02-05 13:51] ananthakumaran commented on #4
![image](https://user-images.githubusercontent.com/149238/152644781-d6f02c6d-f6bd-49d1-84c5-9b988d332ce1.png)
implemented in the latest version.

[2022-02-05 13:51] #4 closed

[2022-02-05 13:52] ananthakumaran commented on #2
![image](https://user-images.githubusercontent.com/149238/152644795-07b9abd9-411a-48b2-b926-ca5cd7ad9fd7.png)
retry now option is available in the latest version

[2022-02-05 13:52] #2 closed

[2022-02-05 13:53] ananthakumaran commented on #3
![image](https://user-images.githubusercontent.com/149238/152644817-8192ef08-3c0c-4c40-a35e-3ea4cd6448f3.png)
delete and delete all option is available in the latest version

[2022-02-05 13:53] #3 closed

[2022-04-16 01:33] akira commented on #64
Closing as no longer on Ember

[2022-04-16 01:33] #64 closed

[2022-04-16 01:34] akira commented on #32
Closing as no longer on Ember

[2022-04-16 01:34] #32 closed

[2022-04-20 04:04] williamweckl opened #116 "Compile error after updating to 0.12.x"
After updating to 0.12.0 or 0.12.1, a compilation error happens:

[code]

I've checked and there is missing the id attribute for the div that sets `phx-hook`, just like the error message inform us. Adding some id attribute the application is able to compile.

[2022-04-20 05:06] #116 closed

[2022-06-21 02:31] ryanlchandler opened #118 "setting live_socket_path option in live_exq_ui does not work"
In phoenix router.ex setting option `:live_socket_path` to "/myapp/exq/live"
[code]

However, web socket requests continue going to `/live`

---

I think this is because app.js is hard coded to `/live`

https://github.com/akira/exq_ui/blob/7d561d717d1dc594916a1065696d0d3fbf729ed1/assets/js/app.js#L28

Not sure if this is a bug or I'm doing something wrong, please advise.

[2022-06-21 03:12] ananthakumaran commented on #118
could you try this fix https://github.com/akira/exq_ui/pull/119

[2022-06-21 18:23] ryanlchandler commented on #118
That worked!  Thanks @ananthakumaran !!

[2022-06-22 02:36] #118 closed

[2022-06-23 14:57] ananthakumaran commented on #95
exq_ui doesn't depend on poison directly anymore

[2022-06-23 15:03] #71 closed

[2022-07-18 15:47] #35 closed

[2022-07-18 15:48] ananthakumaran commented on #36
available in latest version

[2022-07-18 15:48] #36 closed

[2022-07-18 15:49] ananthakumaran commented on #62
closing this, please reopen with more details if the issue still exists

[2022-07-18 15:49] #62 closed

[2022-07-18 15:53] #97 closed

[2022-07-18 15:55] #13 closed

[2022-07-18 15:57] ananthakumaran commented on #78
This shouldn't be an issue in the latest version, since exq_ui doesn't start the supervisor anymore.

[2022-07-18 15:57] #78 closed

[2022-07-18 15:59] #52 closed

[2022-07-19 10:39] antoinereyt opened #120 "Not compatible with Liveview 0.17.11"
After an update of all the deps of my Phoenix app, I got this error:

Full error:
[code]

I'm making a PR.

[2022-07-19 10:44] antoinereyt commented on #120
My bad I wasn't on the last release, sorry for the noise.

[2022-07-19 10:45] #120 closed

[2022-08-06 00:50] williamweckl commented on #118
Has this fix being released to hex?

[2022-08-06 04:48] ananthakumaran commented on #118
Not yet. @akira could you cut a release when you have time.

[2022-08-13 04:17] akira commented on #118
Just released, thanks for the heads up! 👍

[2022-08-29 15:29] #40 closed

[2022-10-14 00:45] williamweckl opened #131 "Not compatible with LiveView 0.18"
After an update of live view dep of my app, I got this error:

[code]

Using LiveView 0.17 there was some warnings of the function `live_component` being deprecated. Looks like they have removed it at the new version.

Instead of using `<%= live_component SomeComponent, id: "someid" %>` ExqUI need to be changed to use `<.live_component module={SomeComponent} id="someid" />`.

The change was being

[2022-10-14 00:50] williamweckl commented on #131
I'm seeing that probably the issue was already solved by https://github.com/akira/exq_ui/commit/3c03bbaa7caaaee9f5983ba36025bf302424c13d .

Maybe you just need to release an updated of the lib at hex.pm. :)

[2022-10-14 05:26] ananthakumaran commented on #131
@akira could you cut a release

[2022-11-03 17:05] colman-hartinger opened #132 "Jobs with errors causes worker to unsubscribe from all queues"
Exq config:
[code]

Description:
A job with a failure that kills the worker process causes the worker node to unsubscribe all the queues indefinitely.

[2022-11-26 02:23] akira commented on #131
@ananthakumaran sorry missed this, I just released.  Also, FYI, I added github workflow to cut release on new tag pushes which can be used in future.

[2022-11-26 03:40] #131 closed

[2022-11-26 03:41] ananthakumaran commented on #132
fixed on [v0.13.0](https://github.com/akira/exq_ui/releases/tag/v0.13.0)

[2022-11-26 03:41] #132 closed